.footer {
	margin-top: 70px!important;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #E0E0E0;

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 70px;
	}

	&__link {
		color: #1A1A1A;
		font-size: 18px;
		margin-right: 24px;
		display: inline-block;
		vertical-align: top;
	}

	&__copyright {
		color: #828282;
	}

	.socials {

		&__item {
			margin-left: 10px;
		}
	}

	@include media-breakpoint-down(md) {
		
		&__link {
			font-size: 16px;			
		}		

	}
	@include media-breakpoint-down(sm) {

		&__top {
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;			
			margin-bottom: 30px;
		}
		&__sitemap {
			margin-bottom: 20px;
		}
		&__link {
			font-size: 14px;
			margin: 10px 5px;
		}
		&__copyright {
			text-align: center;
			display: block;
			font-size: 14px;
		}

	}

}
